DATABASE_URL='postgres://sms:sms@127.0.0.1:5432/sms'
DATABASE_MAX_CONNS=5
SMS_DEVICE_KEY='<YOUR-SMS-DEVICE-KEY>'
SMS_API='https://<YOUR-SMS-API>.axum.eu.org'
SMS_API_TIMEOUT=10
SMS_ICON='https://file.axum.eu.org/asset/logo.png'
SMS_ACTION_URL_PREFIX='https://sms.axum.eu.org/#/a/v/'
ADDR='127.0.0.1:9527'
TURNSTILE_SECRET_KEY='1x0000000000000000000000000000000AA'
TURNSTILE_SITE_KEY='1x00000000000000000000AA'
TURNSTILE_TIMEOUT=10
JWT_SECRET='<YOUR-JWT-SECRET>'
JWT_EXP=3600
ADMIN_PASSWORD='<YOUR-ADMIN-PASSWORD>'